<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>203342559400-kog1o6cf3gh9hm4oe4r8d4g2vmv6nrda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203342559400-kog1o6cf3gh9hm4oe4r8d4g2vmv6nrda</string>
	<key>API_KEY</key>
	<string>AIzaSyBYuZ7-AygwGgGwS6B9X6OCyqSgMzehJR8</string>
	<key>GCM_SENDER_ID</key>
	<string>203342559400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jonathan-Fong.DogaborgsSocialMediaChatApp</string>
	<key>PROJECT_ID</key>
	<string>dogaborgssocialmediachatapptwo</string>
	<key>STORAGE_BUCKET</key>
	<string>dogaborgssocialmediachatapptwo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203342559400:ios:c0b1d6836caf4caf</string>
	<key>DATABASE_URL</key>
	<string>https://dogaborgssocialmediachatapptwo.firebaseio.com</string>
</dict>
</plist>